nav .nav-wrapper {
  background-color: #4a148c;
  font-family: 'Titillium Web', sans-serif;
}


body {
  background-color: #e1bee7;
  width: 100%;
  align-items: center;
}
#main {
  font-family: 'Titillium Web', sans-serif;
}


p.location.location-tag{
  font-weight: 500;
  font-size: 30px;
}

.placeBox {
  width: 280px;
}

.grid {
  align-content: center;
  // justify-content: center;
}

.travel-log-form {
  // width: 800px;
  padding: 20px;
  align-items: center;
}
